.DS_Store
.idea
.vs
packages
Toolbox.Droid/bin
Toolbox.Droid/obj
# Build related
tools/**
!tools/packages.config
*.nupkg
Demo/obj
Demo/bin
.vscode
Xamarin.Droid.UIToolbox/obj
Xamarin.Droid.UIToolbox/bin
ToolboxDemo/obj
ToolboxDemo/bin
Gemfile.lock
fastlane/README.md
fastlane/report.xml
